<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Employees</h1>
    <a href="/create">Add employee</a>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>full name</th>
                <th>position</th>
                <th>salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].fullName %></td>
                    <td><%= data[i].position %></td>
                    <td><%= data[i].salary %></td>
                    <td>
                        <a href='/<%= data[i].id %>/updateForm'>update</a>
                        <a>delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>